.slider {
    width: 50%;
    margin: auto;
    border: 3px solid blue;
   padding: 2%;
   
   
}
.slider img{
    width: 40%;
    margin-right: 0px;
    border: 5px solid red;

}
.posts div{
    display: flex;
    margin: auto;
    justify-content: space-around;
   
}